<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div>
        <div class = "header">
            <h1>My Store</h1>
            <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">products</a></li>
                <li><a href="/users">users</a></li>
                <li><a href="/auth/login">login</a></li>
                <li><a href="/auth/logout">logout</a></li>
            </ul>
            </nav>
        </div>
        <div><%- body %></div>
        <div class = "footer">
            <p>&copy; 2023 My Store. All rights reserved.</p>
        </div>
    </div>
</body>
</html>