*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box{
    margin: 5px;
    padding: 5px;
    border:1px solid gray;
    background-color: #f3ead8;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    text-align: left;
    
}
.boxProducts{
    margin: 5px;
    padding: 5px;
    padding-left : 40px;
    border:1px solid gray;
    background-color: #f3ead8;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px rgb(0, 0, 0);
    text-align: left;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color : whitesmoke;
    background-color: #0d3f5c;
    box-shadow: #ffffff 0px 7px 15px, #ffffff 0px 1px 3px;
    margin-bottom : 20px;
}
.footer{
    text-align: center;
    margin-top: 20px;
    margin-bottom:10px;
    padding-top: 10px;
    background-color: #302727;
    height : 40px;
    color : white
}
body{
    background-color: rgb(245, 201, 143);
}
.header li{
    display: inline-block;
    justify-content: center;
    align-items: space-between;
    padding: 10px;
}
.header li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
}