.row {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}
.box{
    margin: 5px;
    padding: 5px;
    border:1px solid gray;
    border-radius: 5px;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #938705d0;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: #ff0000d1;
    margin-top: 20px;
}
body{
    background-color: rgb(255, 187, 98);
}