<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Add Product Form</h2>
    <form action="/products/add" method="POST">
        <input type="text" name="name" placeholder="Product Name"><br>
        <input type="text" name="desc" placeholder="Product Description"><br>
        <input type="number" name="price" placeholder="Product Price"><br>
        <input type="text" name="image" placeholder="Image URL" accept="image/*"><br>
        <button type="submit">Add Product</button>
    </form>
</body>
</html>